html{
	font-size: calc(100vw/7.5);
}
body{
	margin: 0;
	padding: 0;
	background-color: #DFDFDF;
}
.nav{
	width: 100%;
	height: 52px;
	border-bottom: solid 1px #F0F0F0;
	position: fixed;
	margin: 0;
	padding: 0;
	z-index: 10;
	background-color: #fff;
}
.nav a.logo{
	position: absolute;
	display:block;
	width: 110px;
	height: 32px;
	margin-left: 16px;
	margin-top: 10px;
}
a.logo img{
	position: absolute;
	width: inherit;
	height: 24px;
	background-size: cover;
	top: 4px;
}
.nav a.app{
	position: absolute;
	left: 138px;
	top: 16px;
	width: 64px;
	height: 20px;line-height: 20px;
	border: solid 1px #49b849;
	border-radius: 10px;
	text-decoration: none;
	color: #49b849;
	font-size: 12px;
	text-align: center;
}
a.fa-search{
	display: block;
	position: absolute;
	width: 24px;
	height: 24px;
	right: 60px;
	top: 13px;
	color: #49b849;
	font-size: 24px;
}
span.fa-user-circle{
	display: block;
	position: absolute;
	right: 16px;
	width: 28px;
	height: 28px;
	top: 12px;
	font-size: 28px;
	color: #dfdfdf;	
}
.weui-badge_dot{
	position: absolute;
	right: 0;
	top: 2px;
	padding: 0;
	background-color: orange;
}
/*-------nav end-------*/
.bottom{
	width: 100%;
	height: 48px;
	border-bottom: solid 1px #F0F0F0;
	position: fixed;
	font-size: 14px;
	z-index: 12;
	bottom: 0;
	background-color: #fff;
	color: #49b849;
	display: flex;
}
.bottom .iconlist{
	width: 50%;
	height: inherit;	
	display: flex;
}
.bottom .iconlist>li{
	padding-top: 6px;
	width: 33.33%;
	height: inherit;
	list-style: none;
	text-align: center;
}
.bottom .iconlist>li span{
	font-size: 18px;
}
.bottom .iconlist>li p{
	line-height: 18px;
}
.bottom a{
	display: block;
	width: 50%;
	height: inherit;
	line-height: 48px;
	flex: 1;
	background-color: #49b849;
	border: none;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	color: #fff;
}

/*------bottom end------*/
.content{
	height: 100vh;
	padding-top: 52px;
	position: relative;

}
.banner{
	width: 100%;
	height: 4.76rem;
	background-color: #fff;
	position: relative;
	padding: 0;
}
.banner img{
	position: absolute;
	display: block;
	margin: 0;
	height: inherit;
	width: inherit;
}
.banner .mask1{
	position: absolute;
	width: inherit;
	height: inherit;
	background-color: rgba(0,0,0,0.4);
}
.playcircle{
	position: absolute;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background-color: rgba(0,0,0,0.8);
	left: 50%;
	margin-left: -40px;
	top: 50%;
	margin-top: -40px;
	border: solid 1px #fff;
	box-sizing: border-box;
	line-height: 80px;
}
.playcircle .fa-play{
	display: block;
	line-height:80px ;
	color: #fff;
	font-size:40px;
	position: absolute;
	left:24px;
}
/*-------banner end---------*/
.subnav{
	width: 100%;
	height: 44px;
	border-bottom: solid 1px #F0F0F0;
	display: flex;
	background-color: #fff;	
}
.subnav li{
	float: left;
	width: 33.33%;
	list-style: none;
	position: relative;
}
.subnav li span{
	font-size: 16px;
	color: #666;
	position: absolute;
	left: 50%;
	line-height: 44px;
	margin-left: -16px;
}
.subnav li.active span{
	border-bottom: solid 2px #49b849;
	padding: 0 16px;
	left: 50%;
	margin-left: -32px;
	color: #49b849;
}
/*------page1 begin------*/
.page .class{
	padding: 16px 16px 12px 16px;	
	background-color: #fff;
	margin-bottom: 16px;
}
.page{
	display: none;
}
.page-active{
	display: block;
}

.class h3{
	font-size: 16px;	
}
.class h4{
	font-size: 14px;	
	color: #666;
	font-weight: normal;
	line-height: 28px;	
}
.class h5{
	font-size: 12px;	
	color: #999;
	font-weight: normal;
	line-height: 20px;	
}
.class p{
	font-size: 14px;	
	color: #999;
	line-height: 40px;
	height: 40px;
}
.class p b{
	font-size: 24px;
	color: #49b849;
}
.class p span{
	margin-left: 16px;
	text-decoration: line-through;
	position: relative;
	top: 2px;
}
.class p i{
	border: solid 1px #ffac30;
	padding: 2px 4px;
	font-size: 12px;
	font-style: normal;
	color: #ffac30;
	margin: -14px 0 0 8px;
	position: relative;
	top:-4px
}
ul.list{	
	font-size: 14px;
	color: #999;
	background-color: #fff;
	padding: 0 16px;
}
ul.list li{
	list-style: none;
	border-bottom: solid 1px #F0F0F0;
	padding: 20px 0;
	position: relative;
}
ul.list li:after{
	display: block;
	content: "";
	clear: both;
}
ul.list li p{
	float: left;
}
ul.list li p:nth-child(2){
	color: #ffac30;
	margin-left: 12px;
}
ul.list li button,ul.list li h6{
	float: right;
	position: relative;
	right: 8px;
}
ul.list li button{
	font-size: 14px;
	width: 80px;
	height: 28px;
	line-height: 28px;
	background-color: #23c879;
	border-radius:14px;
	border: 0;
	color: #fff;
	box-shadow: 0 1px 2px #23c879;
}
ul.list li h6{
	font-size: 24px;
	height: 28px;
	color: #666;	
}
.weui-picker__item.no1{
	font-size: 20px;
	color: #333;!important
}
.weui-picker{
	transform: none;
}
.weui-dialog__hd {
    padding: 0 1.2em;
}
