* {
	margin: 0;
	padding: 0;
	font-family: "微软雅黑";
}

html {
	font-size: calc(100vw/7.5);
	/*根标签下定义字号font-size=100vw/物理尺寸的百分之一*/
}
.warper{
	width: 7.5rem;
	height: 13.34rem;
	background-color: #f3f5f7;
	margin: 0 auto;
	overflow: hidden;
}
.nav{
	width: initial;
	height: 0.88rem;
	background-color: #f0f0f0;
	border-bottom: solid 0.02rem #ccc;
	overflow: hidden;
}
.nav .arrow_left{
	display: block;
	width: 0.24rem;
	height: 0.41rem;
	float: left;
	margin-left: 0.27rem;
	margin-top: 0.235rem;
}
.nav .arrow_left img{
	display: block;
	width: 0.24rem;
	height: 0.41rem;
}
.nav form{
	width: 5.68rem;
	height: 0.64rem;
	border-radius: 0.32rem;
	background-color: #fff;
	border: solid 0.02rem #ccc;
	box-sizing: border-box;
	float: left;
	margin:0.12rem 0 0 0.24rem;	
	padding-top: 0.14rem;
	padding-left: 0.26rem;
}
form a{
	display: block;
	width:0.3rem;
	height: 0.3rem;
	float: left;
	overflow: hidden;
}
form a img{
	display: block;
	width:0.3rem;
	height: 0.3rem;
}
form input[type="search"]{
	display: block;
	width:4.4rem;
	height: 0.36rem;
	line-height: 0.36rem;
	font-size: 0.24rem;
	color: #666;
	border: none;
	-webkit-appearance: none;
	margin-left:0.1rem;
	float: left;
}
a.nav_right{
	display: block;
	width: 0.36rem;
	height: 0.36rem;
	float: right;
	margin: 0.24rem 0.42rem 0 0;
}
a.nav_right img{
	display: block;
	width: 0.36rem;
	height: 0.36rem;
}
.down:after{
	display: block;
	content: "";
	clear: both;
}
.leftside{
	float: left;
	width: 1.48rem;
	border-right: solid 0.02rem #ccc;
	overflow: hidden;
	margin-right: 0.14rem;
	
}
.leftside ul li{
	list-style: none;
	width: 1.48rem;
	background-color: #fff;
}
.leftside ul li a{
	display: block;
	width: 1.48rem;
	height: 0.94rem;
	font-size: 0.22rem;
	line-height: 0.94rem;
	border-bottom: solid 0.02rem #ccc;
	color: #111;
	text-align: center;
	text-decoration: none;
}
.leftside ul li a:active,.leftside ul li a:checked{
	color: #ef030e;
}
#demonx{
	float: left;
	width: 5.72rem;
	padding-top: 0.14rem;
}
#demonx .banner,#demonx .banner img{
	display: block;
	width: 5.72rem;
	height: 1.82rem;
}
.part p{
	font-size: 0.22rem;
	color: #111;
	margin-top: 0.38rem;
	margin-bottom: 0.16rem;
}
.part ol{
	list-style: none;
	width: 4.52rem;
	padding:0.14rem 0.64rem 0 0.56rem;
	background-color: #fff;	
}
.part ol:after{
	display: block;
	content: "";
	clear: both;
}
.part li{
	width: 1.08rem;
	float: left;
	margin-right:0.64rem;
}
.part li:nth-child(3n+3){
	margin-right: 0;
}
.part li a.imgp,.part li img{
	display: block;
	width: 1.08rem;
	height: 1.09rem;
}
.part li a.wordp{
	display: block;
	width: 1.08rem;
	font-size: 0.2rem;
	color: #333;
	text-decoration: none;
	text-align: center;
	margin: 0.24rem 0 0.2rem 0;

}

